RewriteEngine On
RewriteBase /animal_php_myadmin/animal_php_myadmin/

# Bỏ qua các tệp tĩnh
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Routes chính [NC = case-insensitive]
RewriteRule ^Home$ view/client/home/index.php [L,NC]
RewriteRule ^FindAnimal$ view/client/home/FindAnimal.php [L,NC]
RewriteRule ^ClassAnimal$ view/client/classanimals/list_classanimals.php [L,NC]
RewriteRule ^Login$ view/client/users/login.php [L,NC]
RewriteRule ^Register$ view/client/users/add_user.php [L,NC]
RewriteRule ^Profile$ view/client/users/profile.php [L,NC]
RewriteRule ^classanimal/detail/([0-9]+)$ view/client/classanimals/detail_classanimal.php?id=$1 [L,NC]
RewriteRule ^animal/detail/([0-9]+)$ view/client/animals/view_animal.php?id=$1 [L,NC]
RewriteRule ^search/(.*)$ view/client/animals/animals-list.php?searchQuery=$1 [L,QSA,NC]

# User admin
RewriteRule ^admin/dashboard$ view/admin/dashboard.php [L,NC]
RewriteRule ^admin/profile$ view/admin/profile.php [L,NC]
RewriteRule ^admin/notifications/?$ view/admin/notifications/notification-list.php [L,NC]
RewriteRule ^admin/users/delete/([0-9]+)$ view/admin/users/delete.php?id=$1 [L,NC]
RewriteRule ^admin/users/editRole/([0-9]+)$ view/admin/users/editRole.php?id=$1 [L,NC]
RewriteRule ^admin/users$ view/admin/users/user-admin.php [L,NC]

# Animal admin
RewriteRule ^admin/animals/add$ view/admin/animals/add_animal.php [L,NC]
RewriteRule ^admin/animals/delete/([0-9]+)$ view/admin/animals/delete.php?id=$1 [L,NC]
RewriteRule ^admin/animals/edit/([0-9]+)$ view/admin/animals/update_animal.php?id=$1 [L,NC]
RewriteRule ^admin/animals/edit$ view/admin/animals/update_animal.php [L,NC]
RewriteRule ^admin/animals/detail/([0-9]+)$ view/admin/animals/view_animal.php?id=$1 [L,NC]
RewriteRule ^admin/animals$ view/admin/animals/animal-admin.php [L,NC]

# ClassAnimal admin
RewriteRule ^admin/classanimals/add$ view/admin/classanimals/add_classanimal.php [L,NC]
RewriteRule ^admin/classanimals/delete/([0-9]+)$ view/admin/classanimals/delete.php?id=$1 [L,NC]
RewriteRule ^admin/classanimals/edit/([0-9]+)$ view/admin/classanimals/update_classanimal.php?id=$1 [L,NC]
RewriteRule ^admin/classanimals/edit$ view/admin/classanimals/update_classanimal.php [L,NC]
RewriteRule ^admin/classanimals/detail/([0-9]+)$ view/admin/classanimals/view_classanimal.php?id=$1 [L,NC]
RewriteRule ^admin/classanimals$ view/admin/classanimals/classanimal-admin.php [L,NC]

# Post & Comment
RewriteRule ^Posts$ view/client/posts/posts-list.php [L,NC]
RewriteRule ^posts/detail/([0-9]+)$ view/client/posts/post-detail.php?id=$1 [L,NC]
RewriteRule ^admin/posts$ view/admin/posts/post-admin.php [L,NC]
RewriteRule ^admin/posts/detail/([0-9]+)$ view/admin/posts/view_post.php?id=$1 [L,NC]
RewriteRule ^admin/comments$ view/admin/posts/comment-admin.php [L,NC]